@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header h2 {
    text-align: left;
    margin-left: 4%;
    margin-top: 5rem;
    color: #fff;
}

table, tr, th, td {
    text-align: left;
    margin: auto;
    border-collapse: collapse;
    margin-top: 2rem;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 400;
}

th, tr, td {
    border: 1px solid rgba(0, 0, 0, 0.308);
}

th {
    background-color: #bebebe;
    box-shadow: 1px 1px 2px #00000036;
}

table {
    background-color: #fff;
    width: 70vw;
}

tbody tr:hover{
    background-color: #8585857e;
}

button {
    width: 30vw;
    margin: auto;
    display: block;
    margin-top: 10%;
}

hr {
    width: 1500px;
    margin-left: 3rem;
    margin-bottom: 4rem;
}

/* MODAL */

.modal-lista {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }

@media (max-width: 720px){
    table {
        width: 95vw;
    }
    hr {
        margin-left: 20px;
    }

}

