.sidebar_button {
  display: none;
}

.sidebar {
  display: none;
}

@media (max-width: 868px){

/* Botão */
  .sidebar_button{
  display: flex;
  font-size: 30px;
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;
  bottom: 0;
  right: 0;
  top: -20px;
  left: 480px;
  position: fixed;
}

/* Menu */

.sidebar{
    background-color: #0000007a; 
    position: absolute;
    top: 14%;
    display: block;
    margin: auto;
    list-style: none;
    text-align: center;
    width: 120vw;
    justify-content: center;
    color: #fff;
}

li a {
  justify-content: center;
  width: auto;
}

}

