@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}
.box-aluno{
    display: flex;
    margin: auto;
    justify-content: center;
    width: 92%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.img-box-aluno{
    background-color: rgba(255, 255, 255, 0.568);
    width: 40%;
    height: 150vh;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px  0 0 20px;
}
.img-box-aluno img{
    width: 100%;
}
.form-cadastro{
    background-color: rgba(255, 255, 255, 0.637);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    width: 50%;
    height: 150vh;
    border-radius: 0 20px 20px 0;
}
.form-cadastro h2{
    font-size: 30px;
}
.form-cadastro p{
    font-weight: bold;
    color: #3D3D3D;
}
.form-cadastro p a{
    color: blue;
    text-decoration: none;
}
.form-cadastro form{
    margin: 20px 0;
}
form .input-cadastro{
    margin-bottom: 15px;
}
form .input-cadastro label{
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
form .input-cadastro input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
form .input-cadastro input:focus{
    border-color: #000;
}
#select{
    display: flex;
    margin-left: -5px;
}
#select label {
    margin-right: 8px;
}
#pagamento {
    margin-left: 10px;
}
.input-option {
    padding-top: 1rem;
    margin-bottom: 2rem;
}
form .input-cadastro button{
    width: 100%;
    height: 47px;
    background: #000;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
@media (max-width:945px) {
    .img-box-aluno{
        display: none;
    }
    .box-aluno{
        width: 500px;
        height: 120vh;
    }
    .form-cadastro{
        width: 100%;
        border-radius: 20px;
    }
}

@media (max-width: 720px){
    .form-cadastro {
        width: 100%;
        margin: 0 auto;
        height: 150vh;

    }

    .w50{
        width: 100%;
        padding: 0;
    }

}