@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-x: hidden;
}

#select{
    display: flex;
    margin-left: -5px;
    margin-bottom: 20px;
}

.w50{
    width: 50%;
    float: left;
    padding-right: 15px;
}
.box-aluno{
    display: flex;
    width: 90%;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.img-box{
    background-color: rgba(255, 255, 255, 0.568);
    width: 50%;
    height: 130vh;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px  0 0 20px;
}
.img-box img{
    width: 100%;
}
.form-cadastro{
    background-color: rgba(255, 255, 255, 0.637);
    backdrop-filter: blur(40px);
    padding: 30px 40px;
    height: 130vh;
    width: 50%;
    border-radius: 0 20px 20px 0;
    margin: auto;
    justify-content: center;
}

.form-cadastro h2{
    margin-top: 20px;
    margin-bottom: 20px;   
}

.form-cadastro p{
    font-weight: bold;
    color: #3D3D3D;
}
.form-cadastro p a{
    color: blue;
    text-decoration: none;
}

form .input-cadastro{
    margin-bottom: 15px;
}
form .input-cadastro label{
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
form .input-cadastro input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
form .input-cadastro input:focus{
    border-color: #000;
}
form .input-cadastro button{
    width: 80%;
    height: 47px;
    background: #0162ff;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#pagamento{
    margin-left: 20px;
}

form .input-cadastro button:hover{
    background-color: #051cb2;
    transition: 0.3s all;
}

select{
    display: flex;
    margin-left: 10px;
}


@media (max-width:945px) {
    .img-box{
        display: none;
    }
    .box-aluno{
        width: 700px;
        height: 120vh;
    }
    .form-cadastro{
        width: 100%;
        border-radius: 20px;
    }
}

@media (max-width: 720px){
    .form-cadastro {
        width: 100%;
        margin: 0 auto;
        height: 130vh;

    }

    .w50{
        width: 100%;
        padding: 0;
    }

}

@media (max-width: 710px){
    .input-option select{
        display: inline-block;
        padding: 0;
    }
}